@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-ripple {
  background-color: #35ffc3;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: ripple 0.7s linear infinite;
} */

/* @keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(color, 0.3), 0 0 0 1em rgba(color, 0.3),
      0 0 0 3em rgba(color, 0.3), 0 0 0 5em rgba(color, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(color, 0.3), 0 0 0 3em rgba(color, 0.3),
      0 0 0 5em rgba(color, 0.3), 0 0 0 8em rgba(color, 0);
  }
} */

/* @animation: bounce 1s infinite;  */

/* @keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
} */
/* @animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite; */

/* @keyframes ping {
  75%,
  100% {
    transform: scale(0.5);
    opacity: 0.5;
  }
} */

/* @layer components {
.btn {
  @apply shadow-md py-3 px-6 rounded-md transition duration-300;
}

.btn-purple {
  @apply bg-purple-500 text-white;
}

.btn-white {
  @apply bg-white;
}
} */
